.dropzone{
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0,0,0,0.03);
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
  cursor: pointer;
}

.isLoading .loadingBar{
  display: block;
}

.loadingBar {
    background: #10cfbd;
    position: fixed;
    display: none;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    animation: dathic-loading 1s ease-in-out infinite;
    animation-delay: .4s
}

@keyframes dathic-loading {
    0%{
        transform:translateX(-100%);
    }

    40%{
        transform:translateX(0%);
    }

    60%{
        transform:translateX(0%);
    }

    100%{
        transform:translateX(100%);
    }
}

.dropzone .message{

  cursor: pointer;

  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;

}

.preview-canvas{
  width: 100%;
  cursor: pointer;
}

.preview-pane{
  position: relative;
}

.action-buttons{

  position: absolute;
  top: 0;
  right: 0;

}

.action-buttons button{
  border-radius: 0px;
}

.bc-vod-video-poster{

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  boxSizing: border-box;
  display: block;
  margin: auto;
  borderStyle: none;
  maxWidth: 100%;
  overflow: hidden;
  background: rgba(0,0,0,.05);

}

.bc-vod-video-list-item{
  padding: 17px 0 !important
}
.grid-divider{
  border-bottom: 1px solid #ddd;
  padding: 25px 0;
}

.bc-vod-homepage-slider{
  position: relative;
}

.slider {
  position: relative;
}

.frame {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.slides {
  display: block;
  padding: 0;
}

ul.slides li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 548px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

ul.slides li:active{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slider_arrow{
  height: 548px;
  width: 50px;
  top: 0;
  position: absolute;
}

.slider_arrow span{
  position: absolute;
  top: 50%;
  z-index: 2;
  margin-top: -30px;
  width: 30px;
  height: 30px;
  border: none;
  border-top: 2px solid rgba(255,255,255,.3);
  border-left: 2px solid rgba(255,255,255,.3);
  background: 0 0;
  text-align: center;
  cursor: pointer;
}

.prev_arrow{
  left: 4%;
}

.next_arrow {
  right: 4%;
}

.next_arrow span{
  right: 0;
  transform: rotate(135deg);
}

.prev_arrow span{
  left: 0;
  transform: rotate(-45deg);
}

.bc-vod-video-color{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: -1;
}
.bc-vod-video-card{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .5;
}
.section-divider hr{
  display: block;
  width: 90px;
  margin: 20px auto 41px auto;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
  box-sizing: content-box;
  height: 0;
}

.section-divider.videos hr{
  margin: 20px 0 41px 0;
}

div.section-divider{
  cursor: none;
  position: relative;
  right: 0%;
  -webkit-transition: right 200ms;
  transition: right 200ms;
}
