.ss-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 25px 0;
}

.ss-content {
    display: inline-block;
    width: 100%;
}

@media(min-width: 960px){
    .ss-content{
        height          : 100%;
        padding         : 0 0 0 0;
        position        : relative;
        right           : 0;
        overflow        : hidden;
        -moz-box-sizing : border-box;
        box-sizing      : border-box;
    }
    .ss-wrapper{
        overflow : hidden;
        height   : 100%;
        width: 100%;
        position : relative;
        z-index  : 1;
        float: left;
        padding: 0;
    }
}

.ss-scroll {
  position            : absolute;
  right               : 0 !important;
  background          : rgba(255, 255, 255, .55);
  width               : 5px;
  border-radius       : 4px;
  top                 : 0;
  z-index             : 2;
  cursor              : pointer;
  opacity: 0;
  margin-right: 5px;
  transition: opacity 0.25s linear;
}

.ss-hidden {
  display: none;
}

.ss-container:hover .ss-scroll {
  opacity: 1;
}

.ss-grabbed {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
